@import "reset.css";
@import "variables";
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
@import "../node_modules/bulma/bulma";
@import "header";
@import "footer";
@import "properties";


body {

  margin: 0;
}

.background-gris{
  background-color: #f6f6f6;
}

.slider img {
  width: 100vw;
  height: 50vh;
}

.inscription {
  @extend .description;
  border: 2px solid;
  border-color: #23d2e8;
  background-color: white;
  margin-bottom: 2rem;
  color: #4a523f;
  border-radius: 6px;
  padding: 1rem;

  .button {
    margin-top: 20px;
  }
}

.description {
  margin-top: 3rem;
  text-align: center;
  h1 {
    font-weight: bolder;
    font-size: 2rem;
  }
  p {
    line-height: 2.5rem;
    font-size: 1rem;
  }
}

.services {
  margin-top: 3%;
  text-align: center;
  i {
    color: #23d2e8;
    padding: 20px;
    font-size: 4rem;
  }
  h1 {

    font-size: 1.5rem;
  }
}


/*
 === ACCÈS CLIENT ===
*/

.titre-acces  {
font-size: 2rem;

}



